
body {
    background-color: rgb(26, 127, 216);
    display: block;
    margin: 20px;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.btn-sq-responsive {
    font-family: 'Montserrat', sans-serif;
    width: 200px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 200px !important;
    font-size:24px;
    margin: 20px;
}

.column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }